*{
	/* border:1px dashed red; */
	/* color: var(--color-main-text); */
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}
:root {
	font-size: 16px;
	--color-text-1: #5493d6;
	--color-text-1: #dadada;
	--color-text-2: #000000;
	--color-border: #000000;
	--color-main: #1b83f2;
	--color-main-sec: #5493d6;
	--color-main-sec: #1b83f2;
	--color-bg: #6c8197;
	--color-bg-2: #557ca7 ;
	--color-acsent-1: #6bc219;
	--color-acsent-2: #933de3;
	--color-acsent-3: #d48837;
	--color-acsent-4: #d72624;

}
html {
	/* background-color:blue; */
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position:fixed;
	background-color: var(--color-border);
}

header {
	margin: 0 !important;
	width: 100%;
	height: 3.8rem;
	position: fixed;
	/* background-color: #fff; */
	background-color: var(--color-main);
	color: var(--color-main-text) !important;
	box-shadow: 0 0 10px black;
	z-index: 50;
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
}

#title a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

header div {
	vertical-align: middle;
	margin: auto;
}

header h5 {
	margin: auto;
}
.sidebar {
	background-color:var(--color-main);
	width: 30rem;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 100;
	position: absolute;
	box-shadow: 15px 0 10px -15px black ;
	top: calc(3.8rem - 1px);
	bottom: calc(2rem - 1px);
	height: auto;
	left: -100%;
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.sidebar.active {
	left: 0;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.sidebar .tab-header {
	/* border-right: 1px solid var(--color-border); */
	border-bottom: 1px solid var(--color-border);
	background-color: var(--color-main-sec);
}
.sidebar .tab-header.active {
	/* background-color: white; */
	/* background-color:var(--color-main); */
	border-top: 1px solid var(--color-border);
	background-color: var(--color-text-1);
	border-bottom: none;
	border-radius: 0 0.8rem 0 0;
}
.sidebar .encryption.active {
	border-top: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	background-color: var(--color-text-1);
	border-bottom: none;
	border-radius: 0 0.8rem 0 0;
}
.sidebar .decryption.active {
	border-top: 1px solid var(--color-border);
	border-left: 1px solid var(--color-border);
	background-color: var(--color-text-1);
	border-bottom: none;
	border-radius: 0.8rem 0 0 0;
}
.sidebar .form-group {
	margin: 1.5rem 0;
}
footer {
	margin: 0 !important;
	padding: 0 !important;
	bottom: 0;
	position: fixed;
	width: 100%;
	height: calc(2rem + 2px);
	display: table;
	background-color: var(--color-main);
	z-index: 50;
	border-top: 2px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	border-left: 1px solid var(--color-border);
	box-shadow: 0 0 10px black;
}
.copyright {
	padding: 0.2rem 1rem;
	font-size: 1rem;
	display: table-cell;
	font-weight: bold;
	float: right;
}
.copyright a {
	margin: 0 !important;
	padding: 0 !important;
	text-decoration: none;
	color: black;
}
.selection-block{
	position: absolute;
	display: block;
	right: 0;
	bottom: calc(2rem - 1px);
	width: 25rem;
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	box-shadow:  -6px -6px 10px -6px black;
	background-color: var(--color-main);
	z-index: 98;
}
.selection-block .tab {
	display: block;
	position: relative;
}
.selection-block .input-group {
	padding: 4px 0 0 0;
}

.foot {
	text-align: center;
	display: inline;
}
.tab {
	width: 100%;
	display: table;
	/* background-color: var(--color-main-sec); */
}
.tab-header {
	height: 3rem;
	margin: 0 !important;
	padding: 0.5rem;
	display: table-cell;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.3rem;
}
.tab .row, .tab-header h4 {
	margin: 0 !important;
	padding: 0 !important;
}

.tab-content {
	overflow: auto;
	width: 100%;
	background-color: var(--color-text-1);
}
.sidebar .tab-content {
	position: absolute;
	top: 3rem;
	bottom: 0;
}
.tab-content .container {
	margin: 2rem auto;
	/* z-index: 4; */
}
.tab-select {
	height: 5.6rem;
}
.selection-block .container{
	margin: 1rem auto !important;
	width: 100%;
}
.selection-block .tab-content {
	overflow: hidden !important;
	border-top: 1px solid var(--color-border);
}
.selection-block .tab-header {
	border-top: 1px solid var(--color-border);
	background-color: var(--color-main);
}
.selection-block .tab-header.active {
	background-color: var(--color-text-1);
	border: 1px solid var(--color-border);
	border-top: 1px solid var(--color-text-1);
	border-radius: 0 0 0.8rem 0.8rem;
}
.selection-block #btn-panel-block-1.active {
	border-left: none;
	border-radius: 0 0 0.8rem 0;
}
.selection-block .tab-header *{
	cursor: pointer;
}
.selection-block .tab-content {
	display: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.selection-block .tab-content.active {
	display: block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.btn {
	cursor: pointer;
}

.panel-backgroud {
	position: absolute;
	width: 100%;
	top: 3.8rem;
	bottom: 2rem;
	height: auto;
	z-index: 25;
}
.panel-backgroud .group-btn-input-custom {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 5;
}
.panel-backgroud .group-btn-input-custom input[type="file"] {
	display: none;
}

.scroller {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--color-bg);
	/* background-color: var(--color-border); */
}
.image-section {
	width: 100%;
	min-height: 100%;
	display: table;
	text-align: center;
}
.info {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

#canvas-image {
	z-index: 0;
	/* background-color:red; */
	margin: 1rem;
}
#btn-sidebar {
	cursor: pointer;
}
#btn-sidebar:hover {
	color: var(--color-border);
}

#btn-sidebar i.fa-bars{
	display: block !important;
}
#btn-sidebar i.fa-times{
	display: none !important;
}
#btn-sidebar.active i.fa-bars{
	display: none !important;
}
#btn-sidebar.active i.fa-times{
	display: block  !important;
}

@media only screen and (max-width: 480px) {
	:root{
		font-size: 12px;
	}
	.sidebar {
		width: 100%;
		box-shadow: none;
	}
	.foot {
		text-align: center;
		display: inline;
	}
	.selection-block {
		width: 100%;
		box-shadow:  0 -8px 10px -8px black;
	}
	.panel-backgroud {
		position: absolute;
		width: 100%;
		top: 3.7rem;
		bottom: 5rem;
		height: auto;
		background-color: aquamarine;
	}
}
@media(hover: hover) and (pointer: fine) {

}