*{
	/* border:1px dashed red; */
	color: var(--color-text-2);
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}
a {
	color: var(--color-text-2);
	text-decoration: none;
}
a:hover {
	color: var(--color-text-2);
	text-decoration: none;
}
:root {
	font-size: 14px;
	--color-text-1: #5493d6;
	--color-text-1: #dadada;
	--color-text-2: #000000;
	--color-border: #000000;
	--color-main: #1b83f2;
	--color-main-sec: #5493d6;
	/* --color-main-sec: #1b83f2; */
	--color-bg: #6c8197;
	--color-bg-2: #557ca7 ;
	--color-acsent-1: #6bc219;
	--color-acsent-2: #933de3;
	--color-acsent-3: #d48837;
	--color-acsent-4: #d72624;
}
html {
	/* background-color:blue; */
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position:fixed;
	background-color: var(--color-border);
}
#title a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.menu {
	position: absolute;
	top: calc(3.8rem - 1px);
	right: 0;
	background-color: var(--color-main);
	width: 16rem;
	height: fit-content;
	max-height: 21rem;
	z-index: 125;
	border-right: 1px solid var(--color-border);
	border-left: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
	font-weight: bold;
	box-shadow: -6px 6px 10px -8px black;
}
.menu .menu-list {
	position: relative;
	width: 100%;
	max-height: inherit;
	overflow: auto;
	text-align: center;
}
.menu .menu-list .item {
	display: block;
	padding: 1rem;
	margin: 0 !important;
	cursor: pointer;
}
.menu .menu-list .item:hover {
background-color: var(--color-text-1);
}

header {
	margin: 0 !important;
	width: 100%;
	height: 3.8rem;
	position: fixed;
	background-color: var(--color-main);
	box-shadow: 0 0 10px black;
	z-index: 50;
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);
}


header div {
	vertical-align: middle;
	margin: auto;
}

header h5 {
	margin: auto;
}
.sidebar {
	background-color:var(--color-main);
	width: 30rem;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 100;
	position: absolute;
	box-shadow: 15px 0 10px -15px black ;
	top: calc(3.8rem - 1px);
	bottom: calc(2rem - 1px);
	height: auto;
	left: -34rem;
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	border-bottom: 1px solid var(--color-border);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sidebar.active {
	left: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sidebar .tab-header {
	/* border-right: 1px solid var(--color-border); */
	border-bottom: 1px solid var(--color-border);
	background-color: var(--color-main);
}
.sidebar .tab-header.active {
	/* background-color: white; */
	/* background-color:var(--color-main); */
	border-top: 1px solid var(--color-border);
	background-color: var(--color-text-1);
	border-bottom: none;
	border-radius: 0 0.8rem 0 0;
}
.sidebar .encryption.active {
	border-top: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	background-color: var(--color-text-1);
	border-bottom: none;
	border-radius: 0 0.8rem 0 0;
}
.sidebar .decryption.active {
	border-top: 1px solid var(--color-border);
	border-left: 1px solid var(--color-border);
	background-color: var(--color-text-1);
	border-bottom: none;
	border-radius: 0.8rem 0 0 0;
}
.sidebar .form-group {
	margin: 1.5rem 0;
}
footer {
	margin: 0 !important;
	padding: 0 !important;
	bottom: 0;
	position: fixed;
	width: 100%;
	height: calc(2rem + 1px);
	display: table;
	background-color: var(--color-main);
	z-index: 50;
	border-top: 2px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	border-left: 1px solid var(--color-border);
	box-shadow: 0 0 10px black;
}
.copyright {
	padding: 0.2rem 1.6rem;
	font-size: 1rem;
	display: table-cell;
	font-weight: bold;
}
.copyright * {
	margin: 0 !important;
	padding: 0 !important;
	text-decoration: none;
	color: black;
}
.selection-block{
	position: absolute;
	display: block;
	right: -25rem;
	bottom: calc(2rem - 1px);
	width: 25rem;
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	box-shadow:  -6px -6px 10px -6px black;
	background-color: var(--color-main);
	z-index: 98;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.selection-block.active{
	right: 0;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.selection-block .tab {
	display: block;
	position: relative;
}
.selection-block .input-group {
	padding: 4px 0 0 0;
}

.foot {
	text-align: center;
	display: inline;
}
.tab {
	width: 100%;
	display: table;
	/* background-color: var(--color-main-sec); */
}
.tab-header {
	height: 3rem;
	margin: 0 !important;
	padding: 0.5rem;
	display: table-cell;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.3rem;
}
.tab .row, .tab-header h4 {
	margin: 0 !important;
	padding: 0 !important;
}

.tab-content {
	overflow: auto;
	width: 100%;
	background-color: var(--color-text-1);
}
.sidebar .tab-content {
	position: absolute;
	top: 3rem;
	bottom: 0;
}
.tab-content .container {
	margin: 2rem auto;
	/* z-index: 4; */
}
.tab-select {
	height: 7.6rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.selection-block .container{
	margin: 0 auto !important;
	width: 100%;
}
.selection-block .tab-content {
	overflow: hidden !important;
	border-top: 1px solid var(--color-border);
}
.selection-block .tab-header {
	border-top: 1px solid var(--color-border);
	background-color: var(--color-main);
}
.selection-block .tab-header.active {
	background-color: var(--color-text-1);
	border: 1px solid var(--color-border);
	border-top: 1px solid var(--color-text-1);
	border-radius: 0 0 0.8rem 0.8rem;
}
.selection-block #btn-panel-block-1.active {
	border-left: none;
	border-radius: 0 0 0.8rem 0;
}
.selection-block .tab-header *{
	cursor: pointer;
}
.selection-block .tab-content {
	display: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.selection-block .tab-content.active {
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn {
	cursor: pointer;
}

.panel-backgroud {
	position: absolute;
	width: 100%;
	/* top: calc(3.8rem + 1px); */
	top: 3.8rem;
	bottom: calc(2rem + 1px);
	height: auto;
	z-index: 25;
}
.panel-backgroud .group-btn-input-custom {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 5;
}
.panel-backgroud .group-btn-input-custom input[type="file"] {
	display: none;
}

.panel-content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--color-bg);
	z-index: 0;
}
.image-section {
	width: 100%;
	min-height: 100%;
	display: table;
	/* background: ; */
}
.offset {
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}
.offset .block {
	margin: 3rem;
	width: fit-content;
	height: fit-content;
	display: inline-block;
	position: relative;
}
#source-image {
	z-index: 0;
	width: 100%;
	cursor: crosshair;
	-webkit-user-drag: none;
}

#btn-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	height: 3.8rem;
	width: 3.8rem;
	/* background-color: white; */
	font-size: 1.6rem;
	cursor: pointer;
}
#btn-sidebar i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#btn-sidebar:hover {
	color: var(--color-text-1);
}

#btn-sidebar i.fa-bars{
	display: block !important;
}
#btn-sidebar i.fa-times{
	display: none !important;
}
#btn-sidebar.active i.fa-bars{
	display: none !important;
}
#btn-sidebar.active i.fa-times{
	display: block  !important;
}
#btn-menu {
	position: absolute;
	/* background-color: var(--color-main); */
	/* background-color: white; */
	height: 3.8rem;
	top: 0rem;
	right: 0rem;
	width: 3.8rem;
	font-size: 2rem;
	cursor: pointer;
}
#btn-menu i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#btn-menu i.fa-caret-square-down{
	display: block !important;
}
#btn-menu i.fa-caret-square-up{
	display: none !important;
}
#btn-menu.active i.fa-caret-square-down{
	display: none !important;
}
#btn-menu.active i.fa-caret-square-up{
	display: block  !important;
}

#btn-close-image {
	display: none;
	position: absolute;
	top: 4.8rem;
	right: 1.2rem;
	height: 2rem;
	width: 2rem;
	border-radius: 2rem;
	background-color: var(--color-main);
	border: 0.2rem solid var(--color-border);
}
#btn-close-image i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1.4rem;
	color: var(--color-text-2);
}

.block-overlay {
	position: absolute;
	cursor: crosshair;
}

.group-btn-input-custom .btn-import-image {
	border: 1px solid black;
	color: black;
	box-shadow: 0 0 4px 0 black;
	z-index: 100%;
	margin: 0 !important;
}

.selection-block #btn-hide {
	position: absolute;
	height: 3rem;
	left: -2rem;
	bottom: 0;
	background-color: var(--color-text-1);
	width: 2rem;
	border: 1px solid var(--color-border);
	box-shadow: -3px -3px 10px -3px black;
}
.selection-block #btn-hide i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1.6rem;
}
.selection-block #btn-hide  i.fa-caret-left {
	display: block !important;
}
.selection-block #btn-hide  i.fa-caret-right{
	display: none !important;
}
.selection-block #btn-hide.active i.fa-caret-left {
	display: none !important;
}
.selection-block #btn-hide.active i.fa-caret-right{
	display: block  !important;
}

@media only screen and (max-width: 720px) {
	:root{
		font-size: 16px;
	}
	.menu {
		background-color: var(--color-text-1);
		width: 100%;
		height: calc(100% - 5.8rem + 2px);
		max-height: 100%;
		border-top: 1px solid var(--color-border);
		font-size: 1.6rem;
		box-shadow: none;
	}
	.menu .menu-list {
		transform: translate(0,-50%);
		top: 50%;
	}
	.menu .item:hover {
		background-color: var(--color-main) !important;
	}
	.sidebar {
		width: 100%;
		left: -100%;
		box-shadow: none;
	}
	.foot {
		text-align: center;
		display: inline;
	}
	.selection-block {
		width: 100%;
		right: 0;
		box-shadow:  0 -8px 10px -8px black;
	}
	.selection-block.active{
		right: 0;
	}
	.selection-block #btn-hide {
		display: none;
	}
	.panel-backgroud {
		position: absolute;
		width: 100%;
		top: 3.7rem;
		bottom: 5rem;
		height: auto;
		background-color: aquamarine;
	}
	footer {
		height: calc(2rem + 2px);
	}
	#btn-close-image {
		top: 0.9rem;
		right: 4rem;
		height: 2rem;
		width: 2rem;
		z-index: 100;
	}
	.offset .block {
		margin: 1rem;
	}
}
@media only screen and (max-width: 720px) {
	:root{
		font-size: 12px;
	}
}